body {
    margin: 0;
    text-align: center;
    font-family: 'Itim', cursive;
    font-size: 150%;
    /* font-family: brandon-grotesque,HelveticaNeue-Light,"Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif */
}

h1{
    /* margin: auto; */
    font-family: 'Bebas Neue', cursive;
    font-size: 5.652rem;
    margin: 50px auto 0 auto;
    color: #66BFBF;
    line-height: 2;
}

h2 {
    font-size: 2.5rem;
    font-weight: normal;
    color: #66BFBF;
    padding: 10px;
}

h3 {
    color: #11999E;
}

a {
    color: #11999E;
    text-decoration: none;
}


hr{
    border-style: dotted none none;
    border-color: grey;
    border-width: 5px;
    width: 10%;
    border-bottom: none;
    margin: 100px auto;
}


/* Container */
.container-fluid{
    padding: 1.5% 15% 0%;
}

/* navbar */

.navbar {
    z-index: 1;
}

.navbar-dark .navbar-brand{
    color: #21564b;
    font-size: 3rem;
    font-weight: bold;
}

.navbar-dark .navbar-nav .nav-link{
    color: #11999E;
}


.nav-item{
    padding: 0 18px;
}


/* Title section*/
#title{
    background-color: #EAF6F6;
    padding: 3% 0% 0%;
    position: relative;
    /* display: block; */
    /* border: solid 10px; */
}

        /* Environments */
.top-cloud{
    position: absolute;
    right: 300px;
    top: 200px;
    z-index: 0;
}

.bottom-cloud{
    position: absolute;
    left: 300px;
    bottom: 300px;
    z-index: 0;
}

.software-txt{
    text-decoration: underline;
}

/* ================================ */

/* About me section */
#about-me{
    margin: 100px 0;
    z-index: 1;
}

.profile-img{
    margin-bottom: 20px;
}

.intro{
    width: 50%;
    margin: auto;
    line-height: 2;
    font-size: 1.5rem;
    color: black;
}

.skill-row{
    width: 50%;
    margin: 200px auto 100px auto;
    text-align: left;
    line-height: 2;
}

#skill{
    color: black;
}


.dev-heading{

}


.other-skill-heading{

}

.code-img{
    width: 25%;
    float: left;
    margin-right: 40px;
}

.chillie-img{
    width: 25%;
    float: right;
    margin-left: 30px;
}

.contact-msg{
    width: 40%;
    margin: 40px auto 60px auto;
}


/* ======================== */


/* Contact section */
#contact{
    padding: 5% 15% 7%;
}

.btn {
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    font-family: 'Itim', cursive;
    color: #ffffff;
    font-size: 20px;
    background: #66BFBF;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}
  
.btn:hover {
    background: #237070;
    text-decoration: none;
    color: #ffffff;
}

/* ========================== */

/* footer */

#footer{
    background-color: #66BFBF;
    padding: 50px 0 20px;
}

.owner-txt{
    color: white;
}  

.footer-link{
    color: #11999E;
    text-decoration: none;
    margin: 10px 20px; /*Top and bottom*/
}

.footer-link:hover{ 
    color: #ffffff;
}

/*=================*/


/* Media Query */
@media (max-width: 1028px){

    #title .container-fluid {
        text-align: center;
    }
}



