body {
    margin: 0;
    text-align: center;
    font-family: 'Itim', cursive;
    font-size: 150%;
    /* font-family: brandon-grotesque,HelveticaNeue-Light,"Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif */
}

h1{
    /* margin: auto; */
    font-family: 'Bebas Neue', cursive;
    font-size: 5.652rem;
    margin: 50px auto 0 auto;
    color: #66BFBF;
    line-height: 2;
}

h2 {
    font-family: 'Itim', cursive;
    font-size: 2.5rem;
    font-weight: normal;
    color: #66BFBF;
    padding: 10px;
}

h3 {
    color: #11999E;
}

a {
    color: #11999E;
}

.footer-link{
    color: #11999E;
    text-decoration: none;
    margin: 10px 20px; /*Top and bottom*/
}

.footer-link:hover{
    
    color: #ffffff;
}

hr{
    border-style: dotted none none;
    border-color: grey;
    border-width: 5px;
    width: 10%;
    border-bottom: none;
    margin: 100px auto;
}

/* img:hover{
    background-color: gold;
} */

input:active{
    color: blueviolet;
}

/*============== Class Selector =============*/
.top-container{
    background-color: #EAF6F6;
    padding: 20px;
    padding-top: 100px;
    position: relative;
    /* display: block; */
    /* border: solid 10px; */
}

.middle-container{
    margin: 100px 0;
}

.bottom-container{
    background-color: #66BFBF;
    padding: 50px 0 20px;
}

.name{
    color: red;
    font-size: 25px;
}

/* .profile{
    background-color: aqua;
} */

.circular{
    border-radius: 100%;
}

/* .button {
    background-color: #4CAF50;
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
} */

.button:active{
    background-color: aliceblue;
}

.software-txt{
    text-decoration: underline;
}

.header-desc{
    font-size: 120%;
    font-weight: 400;
    padding: 1em 0;
}

.profile{
    margin: 50px;
}

.skill-row{
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
    line-height: 2;
}

.code-img{
    width: 25%;
    float: left;
    margin-right: 40px;
}

.chillie-img{
    width: 25%;
    float: right;
    margin-left: 30px;
}

.btn {
    background: #11cdd4;
    /* background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
    background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
    background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
    background-image: -o-linear-gradient(top, #11cdd4, #11999e);
    background-image: linear-gradient(to bottom, #11cdd4, #11999e); */
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: Georgia;
    color: #ffffff;
    font-size: 23px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
.btn:hover {
    background: #30e3cb;
    /* background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad); */
    text-decoration: none;
  }

.owner-txt{
    color: white;
}  

.intro{
    width: 30%;
    margin: auto;
}

.contact-msg{
    width: 40%;
    margin: 40px auto 60px auto;
}

/* Environments */
.top-cloud{
    position: absolute;
    right: 300px;
    top: 50px;
}

.bottom-cloud{
    position: absolute;
    left: 300px;
    bottom: 300px;
}

/* ID selector */
#skill{
    color: brown;
}

